<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quoting Dojo</title>
  </head>
  <body>
    <h1>Welcome to QuotingDojo</h1>
    <h2>Form:</h2>
    <form class="form" action="/quotes" method="post">
      Your name:
      <input type="text" name="author">
      Your quote:
      <input type="textarea" name="quote">
      <input type="submit" value="Add my quote!">
    </form>
    <br>
    <a href="/quotes">Skip to quotes!</a>
  </body>
</html>
